body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20px;
}

button {
  background-color: #392f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
